body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
}

nav {
    background-color: #333;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu-toggle {
    display: none;
    background-color: #444;
    color: white;
    border: none;
    padding: 0.5em;
    cursor: pointer;
    font-size: 1.5em;
}

nav .menu {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
}

nav .menu button {
    background-color: #444;
    color: white;
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
    margin: 0 0.5em;
    font-size: 1em;
}

nav .menu button:hover {
    background-color: #555;
}

#screen {
    flex: 1;
    padding: 1em;
    overflow-y: auto;
    display: flex;
    transition: transform 0.3s ease;
}

.screen {
    flex: 1;
    min-width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border: 1px solid #ccc;
    margin: 0.5em;
}

.screen.active {
    display: flex;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2em;
    color: #444;
    cursor: pointer;
    padding: 0.5em;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
}

#left-arrow {
    left: 10px;
}

#right-arrow {
    right: 10px;
}

/* Responsivité */
@media (max-width: 768px) {
    nav {
        flex-direction: row;
        justify-content: space-between;
    }

    nav .menu-toggle {
        display: block;
    }

    nav .menu {
        flex-direction: column;
        display: none;
        position: absolute;
        top: 60px; /* Positionne le menu juste en dessous de la navbar */
        left: 0;
        width: 100%;
        background-color: #333;
    }

    nav .menu.active {
        display: flex;
    }

    nav .menu button {
        margin: 0.5em 0;
        padding: 0.5em;
        font-size: 1.2em;
    }

    .arrow {
        font-size: 1.5em;
        padding: 0.3em;
    }

    .screen {
        font-size: 1em;
        padding: 1em;
    }
}

@media (max-width: 480px) {
    nav .menu button {
        font-size: 1em;
        padding: 0.3em;
    }

    .arrow {
        font-size: 1.2em;
        padding: 0.2em;
    }

    .screen {
        font-size: 0.8em;
        padding: 0.5em;
    }
}
